p {
	font-size: 12px;
	font-family: 'Times New Roman', Times, serif;
	margin-left: 50px;
	margin-right: 50px;
}

h1 {
	font-size: 24px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	color:white;
}

body {
	color: white;
	background-color: black;
}

a:link {
	color: pink;
	text-decoration: underline;
}

a:visited {
	color: brown;
}

a:active {
	color: green;
}